<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <title>Number Guessing Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Number guessing game</h1>
    <p>Try and guess a random number between 1 and 100.</p>
    <p>You have 10 attempts to guess the right number.</p>
    </br>
    <div id="wrapper">
     
            <label2 for="guessField" id="guess">Guess a number</label>
            <input v-model= "usersNumber" type="number" id="guessField" class="guessField" :disabled = "disabled">

            <input type="submit" id="subt" value="Submit guess" class="guessSubmit" @click="checkNumber">
     

        <div class="resultParas">
            <p >Previous Guesses: <span class="guesses">{{guesses}}</span></p>
            <p >Guesses Remaining: <span class="lastResult" v-model="remaining">{{remaining}}</span></p>
            <p class="lowOrHi" :class="{ badgeStyle: badgeStyle }">{{lowOrHi}}</p>
            <p class="winOrLost" :class="{ badgeResult: badgeResult }">
            {{winOrLost}}</p>
            {{randomNumber}}
        </div>
    </div>
   
</body>
</html>